{% extends 'base.html.twig' %}

{% block title %}Edit PrimesPersonnel{% endblock %}

{% block body %}
    <h1>Edit PrimesPersonnel</h1>

    {{ include('comptable/primes_personnel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_logescom_personnel_primes_personnel_index' , {lieu_vente : lieu_vente.id}) }}">back to list</a>

    {{ include('comptable/primes_personnel/_delete_form.html.twig') }}
{% endblock %}
