<form method="post" action="{{ path('app_logescom_entrees_versement_delete', {'id': versement.id, lieu_vente : lieu_vente.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ versement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
