<section class="">
    <h1 class="text-center trait-h1" id="contact">Nous Contactez</h1>

    <div class="container-fluid ">
        <div class="row justify-content-center align-items-start ">
            <div class="col-sm-12 col-md-6 col-lg-6 formcontact">                        
                <form class="form m-auto" action="" style="width:85%; padding-top: 40px;">
                    <h4 class="py-2">Toujours prêt à vous aider !</h4>
                    <p class="py-2 pb-4">Remplissez ce formulaire pour toute demande et nous vous répondrons dès que possible</p>
                    <div class="container m-0 p-0 mb-2">
                        <div class="row m-0 p-0">
                            <div class="col-sm-12 col-md-8 px-0">
                                <label for="phone" class="form-label">Téléphone*</label>
                                <input type="number" id="phone" name="phone" placeholder="entrez votre téléphone" required class="form-control">
                            </div>
                            <div class="mb-2 px-0">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" name="prenom" placeholder="entrez votre email" required class="form-control">
                            </div>

                            <div class="col-sm-12 col-md-6 px-0">
                                <label for="prenom" class="form-label">Prénom</label>
                                <input type="text" id="prenom" name="prenom" placeholder="entrez votre prénom" required class="form-control">
                            </div>

                            <div class="col-sm-12 col-md-6 px-0">
                                <label for="nom" class="form-label">Nom</label>
                                <input type="text" id="nom" name="prenom" placeholder="entrez votre nom" required class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="message" class="form-label">Message*</label>
                        <textarea class="form-control" id="message" name="message" placeholder="saisir votre message ici!!!" rows="5" cols="33"></textarea>
                    </div>

                    <button class="btn w-100 p-2">Envoyer</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 px-2">
                <div style="margin:auto; padding-top: 40px;">
                    <h3 class="fs-4 fw-bophone-center pb-4">Services clients</h3>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 py-4 ">
                            <h5 class="descContact fs-8 fw-bold">Entag SOS</h5>
                            <p class="descContact m-0 p-0">Téléphone :</p> 
                            <p class="descContact-info m-0 p-0">07 53 54 22 92</p>

                            <p class="descContact m-0 mt-2 p-0">Adresse :</p> 
                            <p class="descContact-info m-0 p-0">44 Rue des Clottins</p>
                            <p class="descContact-info m-0 p-0">95560 Montsoult</p>
                        </div>

                        <div class="col-sm-12 col-md-6 py-4">
                            <h5 class="descContact fs-8 fw-bold">Matoto Marché</h5>
                            <p class="descContact m-0 p-0">Téléphone :</p> 
                            <p class="descContact-info m-0 p-0">07 53 54 22 92</p>

                            <p class="descContact m-0 mt-2 p-0">Adresse :</p> 
                            <p class="descContact-info m-0 p-0">44 Rue des Clottins</p>
                            <p class="descContact-info m-0 p-0">95560 Montsoult</p>
                        </div>
                    </div>
                </div>

                <div class="icon">
                    <a class="mx-4 " href="#"><i class="bi bi-facebook text-dark fs-3"></i></a>
                    <a class="mx-4" href="#"><i class="bi bi-linkedin text-dark fs-3"></i></a>
                    <a class="mx-4" href="#"><i class="bi bi-twitter text-dark fs-3"></i></a>
                </div>
            </div>
        </div>
    </div>
    
</section>