<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">     
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_client_client_index", {lieu_vente : lieu_vente.id})}}">Liste des Collaborateurs</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_client_client_inactif", {lieu_vente : lieu_vente.id})}}">Clients inactifs</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_client_client_index", {lieu_vente : lieu_vente.id})}}">Gestion des Collaborateurs</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_client_client_index", {lieu_vente : lieu_vente.id})}}">Planning des Collaborateurs</a>

</div>