<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">     
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_personnel_paiement_salaire_personnel_index", {lieu_vente : lieu_vente.id})}}">Gestion des salaires</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_personnel_avance_salaire_index", {lieu_vente : lieu_vente.id})}}">Avance sur salaire</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_personnel_primes_personnel_index", {lieu_vente : lieu_vente.id})}}">Gestion des primes</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_personnel_absences_personnel_index", {lieu_vente : lieu_vente.id})}}">Gestion des heures</a>

</div>