<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">     
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_vente_facturation_vente", {lieu_vente : lieu_vente.id})}}">Effectuez une vente</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_vente_facturation_index", {lieu_vente : lieu_vente.id})}}">Facturations</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_vente_facturation_produit_vente", {lieu_vente : lieu_vente.id})}}">Détail des ventes</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_vente_proformat_index", {lieu_vente : lieu_vente.id})}}">Proformats</a>
</div>
