<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;"> 
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_caisse_gestion_cheque_index", {lieu_vente : lieu_vente.id})}}">Gestion des chèques</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_caisse_gestion_cheque_confirmation", {lieu_vente : lieu_vente.id})}}">Confirmation des chèques</a>

</div>