<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;"> 
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_achat_achat_fournisseur_index", {lieu_vente : lieu_vente.id})}}">Liste des factures</a> 
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_achat_bon_commande_fournisseur_index", {lieu_vente : lieu_vente.id})}}">Bon de commande</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_achat_facture_frais_index", {lieu_vente : lieu_vente.id})}}">Facture Frais</a>

</div>