<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">     
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_sorties_decaissement_index", {lieu_vente : lieu_vente.id})}}">Décaissements</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_sorties_depenses_index", {lieu_vente : lieu_vente.id})}}">Dépenses</a>
</div>