{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_stock") | url_encode %}

{% block title %}modifier un transfert{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    {% if app.request.query.has('id_client_search') %}
        {% set client = app.request.query.get('id_client_search') %}
    {% else %}
        {% set client = "" %}
    {% endif %}
    <div class="row my-2">
        {% include "_common/_nav_caisse.html.twig" %}
        <div class="col-sm-12 col-md-10">
            {{ include("_common/_messages_flash.html.twig") }}
            <h3>Modifier le transfert des fonds</h3>

            {{ include('logescom/caisse/transfert_fond/_form.html.twig', {'button_label': 'Modifier'}) }}

            <div class="d-flex justify-content-between my-4">

                <a class="btn btn-light" href="{{ path('app_logescom_caisse_transfert_fond_index', { lieu_vente : lieu_vente.id}) }}">Retour</a>

                {{ include('logescom/caisse/transfert_fond/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
