<form method="post" action="{{ path('app_logescom_achat_achat_fournisseur_delete', {'id': achat_fournisseur.id, lieu_vente: lieu_vente.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ achat_fournisseur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
