{% extends 'base.html.twig' %}

{% block title %}Edit FraisSup{% endblock %}

{% block body %}
    <h1>Edit FraisSup</h1>

    {{ include('logescom/vente/frais_sup/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_logescom_vente_frais_sup_index') }}">back to list</a>

    {{ include('logescom/vente/frais_sup/_delete_form.html.twig') }}
{% endblock %}
