<form method="post" action="{{ path('app_admin_personnel_delete', {'id': personnel.user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce personnel?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personnel.user.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
