<form method="post" action="{{ path('app_logescom_stock_anomalie_produit_delete', {'id': anomalie_produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ anomalie_produit.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
