<form method="post" action="{{ path('app_logescom_caisse_echange_devise_delete', {'id': echange_devise.id, lieu_vente : lieu_vente.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ echange_devise.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
