{% extends 'base_logescom_home.html.twig' %}

{% block title %}detail entreprise{% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    <div class="row">
        {% include "_common/_nav_admin.html.twig" %}
        <div class="col-sm-12 col-md-10">
            <h4>Modifier </h4>

            {{ include('admin/liste_stock/_form.html.twig', {'button_label': 'Modifier'}) }}
            <div class="d-flex justify-content-between">
                <a class="btn btn-light my-2" href="{{ path('app_admin_entreprise_index') }}">Retour</a>

                {{ include('admin/liste_stock/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
