{% extends 'base_logescom_home.html.twig' %}

{% block title %}New Transporter{% endblock %}

 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    <h1>Create new Transporter</h1>

    {{ include('admin/transporter/_form.html.twig') }}

    <a href="{{ path('app_admin_transporter_index') }}">back to list</a>
{% endblock %}
