<form method="post" action="{{ path('app_logescom_stock_liste_inventaire_delete', {'id': liste_inventaire.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet inventaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste_inventaire.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
